@media screen and (min-width:1200px){
.container {
        max-width: 1158px;
    }
    .footer-container {
        display: flex;
    }
        .menu-svg {
            display: none;
        }
    
        .menu-open {
            display: none;
        }

}