@media screen and (min-width:320px) and (max-width:767px){
    .container {
            min-width: 320px;
        }
        .text{
            font-size: 35px;
        }
        p{
            font-size: 25px;
        }
        .description{
            width: 280px;
            height: auto;
        }
        .subscription input{
            width: 80px;
        }
        .logo {
            font-size: 35px;
        }
         .mob-menu-link1 {
            font-size: 36px;
            line-height: calc(40/36);
        }
         .social-mob-menu {
            gap: 64px;
        }
        .center{
            width: 280px;
            height: auto;
        }
        .right-image{
            width: 100%;
        }
                .link {
                    text-decoration: none;
                }
        .footer-container{
            display: block;
        }
        .select {
            padding: 5px;
            font-size: 12px;
             margin-left: 5px;
            }
        .modal {
             width: 408px;
    }
        .modal-coment {
            width: 360px;
    }
        .no-scroll {
           overflow: hidden;
    }
       .nav-links li {
            display: none;
        }
          .text-irland{
            font-size: 35px;
          }
        .text-irland-1{
            font-size: 25px;
        }
        .box{
           width: 280px;
           height: auto;
        }
        .box-icone2 {
            justify-content: center;
        }
        .email {
             width: 396px;
        }
        .subscription {
            display: flex;
            flex-direction: column;
            gap: 10px;
}
}